{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "preact",
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended"
  ],
  "plugins": ["@typescript-eslint", "prettier"],
  "rules": {
    "@typescript-eslint/explicit-module-boundary-types": "off"
  }
}
