body {
  background-color: #262424;
  padding: 0px;
  margin: 0px;
}

p, a, div {
  font-family: Consolas, monaco, monospace;
  color: white;
}

a {
  color: #ffee34;
  text-decoration-line: none;
}

a:hover, .var_init_link:hover, #return_top:hover {
  color: grey;
  cursor: pointer;
}

div#nav_bar {
  position: sticky;
  width: 100%;
  max-height: 50px;
  border: 2px solid white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: white;
  padding-top: 0px;
  margin-top: 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 2px 0px rgba(194, 194, 194, 1);
  -moz-box-shadow: 0px 4px 2px 0px rgba(194, 194, 194, 1);
  box-shadow: 0px 4px 2px 0px rgba(194, 194, 194, 1);
}

#returnToNewSite {
  position: fixed;
  right: auto;
  bottom: 7%;
  left: 7%;
  z-index: 100;
  font-size: 3vmax;
  color: rgba(255, 255, 255, 0.8);
}

#returnToNewSite:hover {
  color: rgba(255, 255, 255, 1);
}

#returnToNewSite a {
  text-decoration: none;
  font-family: "Didact Gothic";
  color: inherit;
}

/* first font awesome icon */

div#nav_bar svg:first-of-type {
  margin-left: 5px;
}

/* font awesome icons */

div#nav_bar svg {
  margin: 6px 0 4px 0;
  opacity: 0.8;
}

div#nav_bar svg:hover {
  opacity: 1;
}

ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.left_col {
  float: left;
  width: 35%;
}

.right_col {
  float: right;
  margin-right: 10%;
  width: 55%;
}

div#line_ct {
  width: 5%;
  float: left;
  background-color: #262424;
  text-align: right;
  padding-top: 20px;
}

div#main {
  width: 93%;
  float: right;
  background-color: #2b2929;
  margin: 0;
  padding-top: 20px;
  padding-left: 1em;
}

div#table {
  width: 100%;
}

#in {
  width: 30%;
  float: left;
  display: inline;
}

#in2 {
  width: 70%;
  height: 20%;
  float: right;
  display: inline;
}

#underConstructionOverlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 2;
  max-height: 100%;
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  overflow-y: hidden;
}

#underConstructionOverlay.closed {
  max-height: 0;
}

#underConstructionInfo {
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  text-align: center;
}

#underConstructionInfo a, #underConstructionInfo a:visited {
  text-decoration: underline;
  color: #5B5959;
}

#underConstructionInfo a:hover {
  color: #828282;
}

#underConstructionInfo h1, #underConstructionInfo h6 {
  color: #5B5959;
}

#underConstructionInfo h3 {
  margin-top: -15px;
  color: #5B5959;
}

#underConstructionInfo body {
  background-color: #E6E3D9;
}

#dismissOverlayButton:hover {
  cursor: pointer;
  text-decoration: underline;
}

.ph {
  color: #2b2929;
}

.comment {
  color: #b1b4bc;
  display: inline;
}

.comment+p {
  margin: 0;
}

.testing {
  color: white;
}

.var {
  color: #74e83e;
}

.fn {
  color: cyan;
}

.var_init, .var_init_link {
  color: #ff2020;
}

#att {
  color: #d514fc;
}

#return_top {
  color: #ffad21;
  cursor: pointer;
}

:-webkit-full-screen {
  background-color: #262424;
}

.beingDrilledText {
  position: relative;
  -webkit-animation: 0.2s drilled infinite;
  animation: 0.2s drilled infinite;
}

@keyframes "drilled" {
  from, to {
    top: 0px;
  }
  50% {
    top: 10px;
  }
}

@-moz-keyframes "drilled" {
  from, to {
    top: 0px;
  }
  50% {
    top: 10px;
  }
}

@-webkit-keyframes "drilled" {
  from, to {
    top: 0px;
  }
  50% {
    top: 10px;
  }
}

@-ms-keyframes "drilled" {
  from, to {
    top: 0px;
  }
  50% {
    top: 10px;
  }
}

@-o-keyframes "drilled" {
  from, to {
    top: 0px;
  }
  50% {
    top: 10px;
  }
}

/* Credit to Artem Gordinsky on CodePen for the blinking cursor CSS code.
source: https://codepen.io/ArtemGordinsky/pen/GnLBq */

.blinking_cursor {
  font-weight: 100;
  /*font-size: 20px;*/
  color: #ffad21;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #ffad21;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #ffad21;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #ffad21;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #ffad21;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #ffad21;
  }
}
